# Session 1
1. Talk about programming in general with Python 3 (Scripting language)
2. Install setup, show how to create virtual env
3. Anaconda vs Python
4. Installing packages using pip, conda # next session
5. Setup Pycharm
6. Jupyter Notebook
7. Intepreters
8. Running python scripts in terminal
9. Data Types (NUMBERS, STR, ARRAY, 
# tomorrow
'DICT)
10. Control Statements (if, for , while)
11. Practice problems

In [ ]:
# Linear Search

[1,2,3,4,5, 6,7,8 ,9, 10]

# find the number 10

total no of steps it took:  10
x = [1,2,3,4,5]
n = lenth of x = 5

n -> len of the list
# find the num 10:
num 10, not found: 
    
    total no of steps to find a number in the worst case is going to
    be  O(n), linear time
    
# Binary search
element: 9
list_x = [1,2,3,4,5, 6,7,8 ,9, 10] 
lenght(list_x) = 10//2
first_list = [1,2,3,4,5, 6,7,8 ,9, 10] 
if element > first_list[-1]:
    if 9 > 10
elif element == last elem
[1,2,3,4,5] , [6,7,8 ,9, 10]
[6,7,8 ,9, 10]

[9, 10]
list_x = [9 | 10]

In [1]:
sum([2,4])

6

In [2]:
import numpy

In [ ]:
numpy.dot([])

In [ ]:
# Numbers (int, float)
# Array (List, Tuples)
# Dict (JSON)
# STRINGS (STR)
# Boolean (True/Flase)

In [5]:
num1 = 10.5

In [6]:
num1

10.5

In [7]:
# [4, 5, 6, 7, 8]
# 0.  1.  2. 3. 4  # represents index


x = [4, 5, 6, 7, 8]

In [13]:
print("1:4 :",x[1:4])
print("1:2 :",x[1:2])
print("2:3 :",x[2:3])

1:4 : [5, 6, 7]
1:2 : [5]
2:3 : [6]
2: : [6, 7, 8]

6

In [15]:
x = []
x =    [4, 3, 1, 9]
    #-1 -3 -2 -1 0. 1. 2. 3

In [16]:
x[3]

9

In [17]:
x[-4]

4

In [18]:
x

[4, 3, 1, 9]

In [19]:
x.remove(9)

In [20]:
x

[4, 3, 1]

In [21]:
x = [1,3,4,1,9]

In [22]:
x.remove(1)

In [23]:
x

[3, 4, 1, 9]

In [24]:
x

[3, 4, 1, 9]

In [31]:
x[1] = str(x[0])

In [32]:
x

['3.0', '3.0', 1, 9]

In [33]:
for i in range(0, len(x)):
    x[i] = str(x[i])

In [34]:
x

['3.0', '3.0', '1', '9']

In [35]:
x

['3.0', '3.0', '1', '9']

In [36]:
del x[0]

In [37]:
x

['3.0', '1', '9']

In [38]:
del x

In [39]:
x

NameError: name 'x' is not defined

In [40]:
x_str = ["nokia", "iphone 6", "iphone 7", "iph"]

In [49]:
x_str_test = "iphone"

In [50]:
search_key = "iph"

In [51]:
len(search_key)

3

In [52]:
x_str_test[0:len(search_key)]

'iph'

# Assignment

1. Write a Python program to add 2 arrays and save the result into a new array.
[3,6,4,7]
[99.0,23,1,5.6]

2. Remove the negative elements from the array.
[10,-4,5,6,-8,9,0,5,-3,1]

3. What will be the complexity for finding the element 6 in the following array:
[10,4,5,6,8,9,0,5,3,1]
1. Using Linear Search 
2. using Binary Search

4. Find the smallest element of the array:
[10,4,5,6,8,9,0,5,3,1]


 5. Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string. 
 Sample: 'CONCORDIA'
 Result: 'COIA'
 Sample: "TO"
 Result: "TOTO"
 Sample: "A"
 Result: Empty String


6. Write a Python program to remove the nth index character from a nonempty string.
Sample: "Concordia" INDEX: 5 (character 'r')
Result: "Concodia"

In [22]:
# 1234
# 1(thousand) 2(hund) 3(ten) 4(units place)
num = 1234
# do not use a list
def rev_of_num(num):
    rev = 0
    while num!=0:
        rev = num%10 + rev*10   
        num = num//10    
    return rev

rev_of_num(765782)

287567

In [4]:
print(1234//10)
print(1234%10)

123
4

In [14]:
1//10

0

In [58]:
def list_comp(list1, list2):
    if list1==list2:
        return True
    else:
        return False

    
    
x = [1,2,52,56] 
sub_list = [2, 52]
def sub_array(x, sub_list):
    index = 0
    
    while True:
        last_index_sub_list = index + len(sub_list) 
        sub_list_we_found = x[index:last_index_sub_list] 
#         print("sub list we found: ", sub_list_we_found)
        if list_comp (sub_list,sub_list_we_found):  
            print("Sublist found: ", sub_list_we_found)
            return True
        elif len(x) == last_index_sub_list:
            return False
        index+=1
        
print("sub: ",sub_array(x, sub_list))

Sublist found:  [2, 52]
sub:  True

In [39]:
index, last_index_sub_list

(2, 4)

In [56]:
if len(sub_list) < len(x):
    if sub_array(x, sub_list):
        print("Found")
    else:
        print("Not found")

elif len(sub_list) == len(x):
    print("sublist is same as the parent list")
else:
    print("Your sublist lenght is greater than your parent list")
    
    
# len(sub_list) == len(x) -> True

sub list we found:  [1, 2]
sub list we found:  [2, 52]
Sublist found
Found

In [83]:
"""
There is a collection of input strings and a collection of query strings. 
For each query string, determine how many times it occurs in the list of input strings.

For example, given input strings = ['ab', 'ab', 'abc'] and 
query = ['ab', 'abc', 'bc'] , 
we find 2 instances of 'ab', 1 of 'abc' and 0 of 'bc'. 

For each query, we add an element to our return array, [2, 1, 0] .
"""

def valueCounter(value, strings):
    """
    This function returns the count of the given value in side the list strings
    """

    count = 0
    for i in strings:
        if value.upper() ==   i.upper():
            count+=1
        
    return count


strings = ['ab', 'aB', 'ABc', 'ab', 'BC']
querys = ['ab', 'abc', 'bc']

result = []

for value in querys:
    count_of_value = valueCounter(value, strings)
    result.append(count_of_value)

In [84]:
result

[3, 1, 1]

In [76]:
for i in strings:
    print("i: ",i)

i:  ab
i:  ab
i:  abc
i:  ab

In [82]:
X = "ABCasgd"
X.upper()

'ABCASGD'

In [ ]:
"""
Left rotation

A left rotation operation on an array of size  shifts each of the array's 
elements 1 unit to the left. 

For example, if  2 left rotations are performed on array [1,2,3,4,5], then the array would become [3,4,5,1,2].

Given an array of n integers and a number, d, 
perform d left rotations on the array. 

Then print the updated array as a single line of space-separated integers.

"""

In [107]:
temp = [1,2,3,4]
rev_arr = []



for i in range(1, 3):
    index = len(temp)-i   
    rev_arr.append(temp[index])

In [108]:
rev_arr

[4, 3]

In [113]:
temp = [1, 2, 5,6]

In [114]:
firstElement = temp.pop(0)

In [115]:
temp

[2, 5, 6]

In [116]:
temp.append(firstElement)

In [117]:
temp

[2, 5, 6, 1]

In [118]:
firstElement = temp.pop(0)  
temp.append(firstElement)

In [119]:
temp

[5, 6, 1, 2]

In [122]:
def leftRotation(d, temp):
    for i in range(d):
        firstElement = temp.pop(0)
        temp.append(firstElement)
    
    return temp
    
d = 2
temp = [1,2,3,4]
leftRotationResult = leftRotation(d, temp)
print("Result: ", leftRotationResult)

Result:  [3, 4, 1, 2]

In [128]:
# factorial of a number
# 5! = 5*4*3*2*1 = 120

# generator


# A generator function that yields 1 for the first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5
    
x = simpleGeneratorFun()
for i_yield in simpleGeneratorFun():
    print(i_yield)

1
2
3
4

In [130]:
def nextSquare():
    i = 1
    while True:
        yield i*i # 2*2
        i += 1

In [133]:
n = 1000
for i_yeild in nextSquare():
    if i_yeild > n:
        break
    print(i_yeild)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961